<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/index.css">
    <script type="text/javascript" src="/js/index.js"></script>
  </head>
  <body>
    <div class="box">hello world</div>
  </body>
</html>
