<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/tool/libs/jquery.js"></script>
    <script src="/tool/libs/jquery.signalR-2.2.3.min.js"></script>
    <script type="text/javascript" src="/js/share/online.js"></script>
    <script src="<%-url%>"></script>
</head>
<body>
    <div class="container">
        <span style="color: red;font-weight: bold" id="err"></span>
        <ul id="discussion"></ul>
    </div>
    <script type="text/javascript">
        getOnline("<%-url%>")
    </script>
</body>
</html>